extends ../node_modules/pug-bootstrap/_bootstrap

append body
	.container-fluid
		+navbar("Torneos","dropdown_menu")
			+nav_item("index.html") Home
			+nav_item_dropdown("#")(label="Usuarios")
				+nav_item("/usuarios/crear") Crear Usuarios
				+nav_item("/usuarios/editar") Editar Usuarios
				+nav_item("#") Eliminar Usuarios
			+nav_item_dropdown("#")(label="Torneos")
				+nav_item("/usuario/crear") Crear Torneos
				+nav_item("#") Editar Torneos
				+nav_item("#") Eliminar Torneos
		h1 Registrar Usuario
		form(method='POST', action='/usuarios/register')
		.form-group
			label Email:
			input.form-control(name='email',id="email", type='email',value="")
		.form-group
			label Nombres:
			input.form-control(name='nombres', type='text')
		.form-group
			label Apellidos:
			input.form-control(name='apellidos', type='text')
		.form-group
			label Password:
			input.form-control(name='password', type='password')
		br
		input.btn.btn-primary(type='submit', value='Registrar')