extends ../node_modules/pug-bootstrap/_bootstrap


append body
	.container-fluid
		+navbar("Torneos","dropdown_menu")
			+nav_item("index.html") Home
			+nav_item_dropdown("#")(label="Usuarios")
				+nav_item("/usuarios/crear") Crear Usuarios
				+nav_item("/usuarios/editar") Editar Usuarios
				+nav_item("#") Eliminar Usuarios
			+nav_item_dropdown("#")(label="Torneos")
				+nav_item("/usuario/crear") Crear Torneos
				+nav_item("#") Editar Torneos
				+nav_item("#") Eliminar Torneos
		h1 Editar Usuario

		h2 Seleccionar Usuario
		- var allusers= usuarios
		
		form(method='POST', action='/usuarios/edit')
		.form-group
			select(name='dropDown', id='Tusuarios')
				each val in usuarios
					option(value=val.id)=val.nombres		
		.form-group
			label Email:
			input.form-control(name='email',id="email", type='email',value="")
		.form-group
			label Nombres:
			input.form-control(name='nombres',id="nombres", type='text',value="")
		.form-group
			label Apellidos:
			input.form-control(name='apellidos',id='apellidos', type='text')
		.form-group
			label Password:
			input.form-control(name='password',id='password', type='password')
		br
		input.btn.btn-primary(type='submit', value='Guardar')
		script.
			
			document.getElementById("Tusuarios").addEventListener("change", function() {
				var users = [{
				id: 1,
				email:"jose@gmail.com",
				nombres: "jose",
				apellidos: "perez",
				password: "jp",
				administrador:false
			},
			{
				id: 2,
				email:"juan@gmail.com",
				nombres: "juan",
				apellidos: "perez",
				password: "jp",
				administrador:false
			}]
				var user = document.getElementById("Tusuarios").value;
				if(user.length===1){
					document.getElementById("nombres").value=user[0].nombres
					document.getElementById("apellidos").value=user[0].apellidos
					document.getElementById("email").value=user[0].email					
				}

			});
			