extends ../node_modules/pug-bootstrap/_bootstrap

append body
	.container-fluid
		+navbar("Torneos","dropdown_menu")
			+nav_item("index.html") Home
			+nav_item_dropdown("#")(label="Usuarios")
				+nav_item("/usuarios/crear") Crear Usuarios
				+nav_item("/usuarios/editar") Editar Usuarios
				+nav_item("#") Eliminar Usuarios
			+nav_item_dropdown("#")(label="Torneos")
				+nav_item("/torneos/crear") Crear Torneos
				+nav_item("#") Editar Torneos
				+nav_item("#") Eliminar Torneos
	h1 Rajasegar
	script.
		function move() {
			window.location.href = '/torneos/crear'
		}